<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bass.oa.mapper.UserMapper">
	<!-- 查询 -->
	<select id="getUserByUserName" parameterType="userModel" resultType="userModel">
		SELECT userId, userName, password, name, email, enabled, loginCount, series, loginDate, expiredDate, createdDate
		FROM tbUser WHERE userName=#{userName}
	</select>
	<select id="getUserByToken" parameterType="string" resultType="userModel">
		SELECT userId, userName, password, name, email, enabled, loginCount, series, loginDate, expiredDate, createdDate
		FROM tbUser WHERE token=#{token}
	</select>
	<select id="getUserByEmail" parameterType="string" resultType="userModel">
		SELECT userId, userName, password, name, email, enabled, loginCount, series, loginDate, expiredDate, createdDate
		FROM tbUser WHERE email=#{email}
	</select>
	
	<update id="updateLoginLimit" parameterType="userModel">
		UPDATE tbUser SET loginCount=#{loginCount}, loginDate=#{loginDate} WHERE userId=#{userId}
	</update>
	
	<update id="updateLoginUser" parameterType="userModel">
		UPDATE tbUser SET token=#{token}, series=#{series}, expiredDate=#{expiredDate}, loginDate=#{loginDate} WHERE userId=#{userId}
	</update>
	
	<update id="updateLogoutUser" parameterType="int">
		UPDATE tbUser SET token=null, series=null, expiredDate=null WHERE userId=#{userId}
	</update>	
	
	<update id="updatePassword">
		UPDATE tbUser SET password=#{password} WHERE userId=#{userId}
	</update>
</mapper>