<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">                     
	<bean id="testService" class="com.bass.oa.service.impl.TestService" />
	
	<!-- 用户处理 -->
	<bean id="userService" class="com.bass.oa.service.impl.UserService" />

	<!-- 登录验证 -->
	<!-- <bean id="authFilter" class="com.bass.oa.filter.AuthorizationFilter">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean> -->
</beans>